::placeholder {
	color: hsl(15, 66%, 77%);
	font-weight: 500;
}
textarea,
input {
	border: none;
	outline: none;
}
input:focus,
textarea:focus {
	outline: 1px solid hsl(162, 68%, 49%);
}
.form {
	background-color: hsl(248, 38%, 56%);
	color: white;
	box-shadow: 1px 1px 10px 1px rgb(172, 136, 172);
	max-width: 550px;
	margin-left: auto;
	margin-right: auto;
	padding: 0.8em 1.5em;
	margin-bottom: 3em;
}
@media screen and (min-width: 768px) {
	.form {
		margin-left: 0;
		margin-right: 0;
	}
}
.form__title {
	display: flex;
	align-items: center;
	justify-content: center;
}
.form__icon {
	width: 24px;
}
.form__text {
	margin-left: 0.5em;
	text-transform: uppercase;
}
.form__field {
	margin-bottom: 1em;
}
.form__label {
	display: block;
	margin: auto;
}
.form__input {
	border: none;
	width: 100%;
	height: 40px;
	padding: 0.5em 0.5em 0.5em 1.2em;
	color: hsl(14, 83%, 55%);
	font-weight: 700;
	border-radius: 0.7em;
}
.form__textarea {
	display: block;
	width: 100%;
	border-radius: 0.7em;
	padding: 1em 1.2em;
	height: 150px;
}
.form__submit {
	width: 100%;
	height: 45px;
	background-color: hsl(0, 0%, 95%);
	text-transform: uppercase;
	color: hsl(19, 80%, 61%);
	font-weight: 700;
	border-radius: 0.7em;
	transition: background 0.3s ease-in-out;
	margin-bottom: 1.4em;
}
@media (hover: hover) {
	.form__submit:hover {
		cursor: pointer;
		background-color: hsl(272, 71%, 87%);
	}
}

.error,
.success {
	display: block;
	color: hsl(0, 12%, 94%);
	text-align: left;
	font-weight: 500;

	margin-bottom: 0.5em;
	padding: 0.5em 1em;
	border-radius: 12px;
}
.error {
	border: 1px solid hsl(0, 50%, 43%);
	background-color: hsl(0, 50%, 43%);
}
.success {
	border: 1px solid hsl(123, 50%, 43%);
	background-color: hsl(123, 50%, 43%);
}
