.title {
	margin-top: 0;
	text-transform: capitalize;
	color: hsl(248, 43%, 50%);
	margin-bottom: 0.3em;
	font-weight: 700;
	font-size: 1.5em;
}
.subtitle {
	margin-top: 0;
	color: hsla(248, 43%, 50%, 0.8);
}
.list {
	overflow: auto;
	list-style: none;
	padding-left: 0;
	height: 60vh;
}
.message {
	text-transform: uppercase;
	font-weight: 600;
	color: rgb(173, 170, 170);
}
