.main {
	width: 96%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.6rem;
}
.column {
	text-align: center;
}
.title,
.subtitle {
	margin-top: 0;
	margin-bottom: 0.5em;
}
.title {
	text-transform: uppercase;
	color: hsl(248, 43%, 50%);
}
.subtitle {
	color: hsl(248, 43%, 50%, 0.8);
}
@media screen and (min-width: 768px) {
	.main {
		display: flex;
		gap: 1em;
	}
	.column {
		flex: 1;
	}
}
