.list {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	background-color: hsl(248, 28%, 57%);
	box-shadow: 1px 1px 10px 1px rgb(104, 99, 99);
	padding: 0.9em 0.5em;
	border-radius: 0.5em;
	margin-bottom: 1em;
}
.item {
	margin: 0.2em;
	font-weight: 700;
	background-color: white;
	padding: 0.5em 0.2em;
	border-radius: 0.4em;
	color: rgb(143, 68, 19);
}
.text {
	font-weight: 400;
	color: rgb(218, 149, 100);
}
